@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using login_reg.Models
@model LogReg

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Login Reg</title>
    </head>
    <body>
        <h2>Create</h2>
        <partial name="User" />
        <h2>Log</h2>
        <partial name="Login" />
    </body>
</html>