@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using login_reg.Models
@model User

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Login Reg</title>
    </head>
    <body>
        <h2>Success</h2>

    </body>
</html>